@import '../../styles/helpers';

$headerH: 40px;
$footerH: 40px;
$asideW: 240px;

$bgHeader: #1e2021;
$bgAsideTop: #2d363b;
$bgAsideBody: #1b2125;
$bgFooter: #222728;
$bgCanvas: #2a3033;
$bgToolbox: #191c21;
$color: #f8f8f9;
$borderColor: #030304;

.editor {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: $color;
  overflow: hidden;
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: $headerH;
    padding: 0 20px;
    background: $bgHeader;
    border-bottom: 1px solid $borderColor;

    .editor-btn {
      padding: 4px 12px;
    }
  }

  &-container {
    height: calc(100% - #{$headerH});
    display: flex;
    > .editor-aside {
      width: $asideW;
      flex-shrink: 0;
      border-right: 1px solid $borderColor;
      border-left: 1px solid $borderColor;
      background: $bgAsideBody;
      overflow: hidden;
      transition: width 0.3s ease;
      .editor-aside-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        padding: 0 16px;
        background: $bgAsideTop;
        font-size: 14px;
      }
      .editor-aside-toggle {
        font-size: 18px;
        cursor: pointer;
      }
      &.hide {
        width: 0;
      }
    }
    > .editor-center {
      flex: 1;
      display: flex;
      flex-direction: column;
      background: url('../../assets/bg-canvas.png') repeat;
      > .toolbox-panel {
        background: $bgToolbox;
        box-sizing: border-box;
        height: 40px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #000;
        transition: height 0.3s ease;
        > .toolbox-item {
          padding: 3px 10px;
          i {
            font-size: 14px;
          }
        }
        &.hide {
          height: 0;
          overflow: hidden;
        }
      }
      > .editor-operate {
        flex: 1;
        position: relative;
        overflow: auto;
        .ruler-wrapper{
          position: absolute;
          height: 20px;
          &.h-container{
            left: 20px;
            cursor: ew-resize;
          }
          &.v-container{
            transform-origin: 0 100% 0;
            cursor: ns-resize;
            transform: rotate(90deg) translateX(0px);
          }
        }
        #canvas {
          background: silver;
          position: absolute;
          top: 60px;
          left: 60px;
          transform-origin: 0 0;
          transition: all .2s ease-in-out;
          > .editor-block {
            position: absolute;
          }
        }
      }
      > .editor-footer {
        display: flex;
        flex-direction: row-reverse;
        padding: 0 20px;
        height: $footerH;
        border-top: 1px solid $borderColor;
        background-color: $bgFooter;
      }
    }
  }
}
